body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  border: 1px solid black;
  margin-top: 10em;
  width: 25em;
  height: 35em;
}

#screen {
  margin-top: 1em;
  margin-left: 1em;
  border: 1px solid black;
  width: 23em;
  height: 5em;
}

#buttons {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  margin: 1em;
}

.btn {
  margin: auto;
  width: 3em;
  height: 3em;
  //   border: 8px outset #4e4d53;
  //   color: #8f8e96;
  font-size: 1.8rem;
  font-weight: bold;
  //   background-color: #242424;
}
