body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
}

.calculator {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5%;
  margin-top: 10em;
  width: 26em;
  height: 38em;
}

#screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1.5em auto;
  border: 8px inset #4e4d53;
  width: 22em;
  height: 5em;
  background-color: #a8a8a8;
  p {
    font-size: 2rem;
    margin: -1em 0.5em -1em auto;
    font-family: monospace;
  }
  #store {
    color: #696969;
  }
  #operator {
    color: #696969;
  }
}

#buttons {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  margin: 0.5em 2em 2em 2em;
}

.btn {
  margin: auto;
  width: 2.95em;
  height: 2.95em;
  border: 8px outset #4e4d53;
  color: #8f8e96;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: #242424;
  cursor: pointer;
}

.btn:hover {
  background-color: #696969;
  color: white;
}
